@font-face {
	font-family: "fira-mono";
	src: url("../fonts/FiraMono-Regular.otf");
}

@font-face {
	font-family: "fira-sans";
	src: url("../fonts/FiraSans-Light.otf");
}

.fira-mono { font-family: "fira-mono", Georgia, serif; }
.fira-sans { font-family: "fira-sans", Helvetica, Arial, sans-serif !important;}

body {
	color: #484848;
}

a {
	text-decoration: none;
	color: #3e73c3;
}

a:hover {
	background-color: #FFFF94;
}

.h1 {
	margin: 0;
	font-size: 1.3em;
}

div#content {
	padding: 30px 10px;
	max-width: 600px;
	margin:  0 auto;
}

div.row#about, div.row#graphics {
	margin: 0 auto 30px auto;
	padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FFFF94;
}

p.blocklink {
	margin: 10px 0;
	font-size: 1.2em;
	line-height: 1.4em;
}