@font-face {
	font-family: "fira-mono";
	src: url("../fonts/FiraMono-Regular.otf");
}

@font-face {
	font-family: "fira-sans";
	src: url("../fonts/FiraSans-Light.otf");
}

.fira-mono { font-family: "fira-mono", Georgia, serif; }
.fira-sans { font-family: "fira-sans", Helvetica, Arial, sans-serif !important;}

body {
	color: #484848;
}

a {
	text-decoration: none;
	color: #3e73c3;
}

a:hover {
	background-color: #FFFF94;
}

.h1, .h2 {
	margin: 0;
}

.h1 {font-size: 2.5em;}
.h2 {font-size: 1.3em;}
.h3 {font-size: 1.1em;}

.h2 br {
	display: none;
}

p.fira-sans {
	font-family: "fira-sans", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	line-height: 1.6em;
}

div#content {
	padding: 0 10px;
	max-width: 600px;
	margin:  0 auto 50px auto;
}

div.row#about {
	margin: 0 auto 30px auto;
	padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: 3px solid #FFFF94;
}

p.blocklink {
	margin: 5px 0;
}

@media (max-width: 480px) {
	.h2 br {
		display: inline;
	}
}