@font-face {
	font-family: "fira-mono";
	src: url("../fonts/FiraMono-Regular.otf");
}

@font-face {
	font-family: "fira-sans-light";
	src: url("../fonts/FiraSans-Light.otf");
}

@font-face {
	font-family: "fira-sans-medium";
	src: url("../fonts/FiraSans-Medium.ttf");
}

.fira-mono { font-family: "fira-mono", Georgia, serif; }

body {
	color: #484848;
}

a {
	text-decoration: none;
	color: #14b0a2;
}

a:hover {
	background-color: #FFFF94;
}

.h1 {
	margin: 0;
	font-size: 1.25em;
}

div#content {
	padding: 30px 10px;
	max-width: 600px;
	margin:  0 auto;
}

div.row#about, div.row#blocks {
	margin: 0 auto 30px auto;
	padding-bottom: 30px;
	border-bottom: 3px solid #FFFF94;
}

div.byline {
	margin: 20px 0;
}

div.byline:last-child {
	margin-bottom: 0;
}

p.b-link {
	font-size: 1.15em;
	line-height: 1.4em;
	margin: 0;
	font-family: "fira-sans-medium", Helvetica, Arial, sans-serif !important;
}

p.b-pub {
	font-size: 1em;
	line-height: 1.2em;
	color:#666;
	margin: 0;
	font-family: "fira-sans-light", Helvetica, Arial, sans-serif !important;
}