/* this is a CSS doc */
@font-face{
	font-family: Enriqueta-Bold;
	src: url("fonts/Enriqueta-Bold.otf");
}
@font-face{
	font-family: Enriqueta-Regular;
	src: url("fonts/Enriqueta-Regular.otf");
}
html, body {
	height: 100%;
}
a:link {
	color: #888a89;
	text-decoration:none;
}
a:visited {
	color: #888a89;
}
a:hover {
	color: #000;
}
#wrap {
	min-height: 100%;
	max-width: 1800px;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}
body {
	background: #e6e6e6;
	font-family: 'Lato';
}
.navigation {
	position: fixed;
	height:60px;
	top: 0;
	list-style-type: none;
	width: 100%;
	background: #000;
	text-align: center;
	margin-top: -10px;
	margin-left: -10px;
	padding-right: 10px;
}
.navigation a:hover {
	color: #e6e6e6;
}
li {
	display: inline-block;
	font-family: Enriqueta-Bold;
	font-size:21pt;
	padding: 0 40px 0 0;
}
h1{
	font-family: Enriqueta-Bold;
	font-size:100pt;
	line-height: 120px;
	text-align: center;
	margin-top:100px;
	margin-bottom: 20px;
}
h2{
	font-family: Enriqueta-Bold;
	font-size:28pt;
	text-align: center;
	margin-bottom:50px;
}
#icons {
	text-align: center;
	padding-bottom: 50px;
}
.iconimage {
	width:70px;
	height:70px;
	padding:3px;
}
.transition {
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 100%;
	width: 100%;
	float: left;
	background-attachment: fixed;
}
#writing-transition {
	background-image: url('images/writingbackground.jpg');
}
#design-transition {
	background-image: url('images/designbackground.jpg');
}
#photography-transition {
	background-image: url('images/photographybackground.jpg');
}
#blogs-transition {
	background-image: url('images/blogsbackground.jpg');
}
.section-wrap {
	background: #e6e6e6;
	width: 80%;
	margin: auto;
}
.section-wrap h3{
	font-family: Enriqueta-Bold;
	font-size: 23px;
	margin-bottom: -10px;
}
.clips {
	font-size: 18px;
	font-family: 'Lato';
	line-height:25px;
}
#full {
	border: 5px solid #888a89;
	width: 70%;
	margin: 0 auto;
}
#thumb-nav {
	width: 80%;
}
.thumb {
	width: 100px;
	border:5px solid #888a89;
	cursor: pointer;
}
#footer {
	background: #000;
	color: #888a89;
	margin-left: -10px;
	height: 40px;
	font-size:20px;
	text-align: center;
	font-family: Enriqueta-Regular;
	margin-top: 20px;
}

/* ---- Smartphone screen media query 320 ---- */

@media only screen and (max-width: 320px) {
#wrap {
	max-width: 320px;
}
.navigation {
	height: 50px;
}
ul {
	margin-left: -25px;
}
li {
	font-size:13pt;
	padding: 0 3px 0 0;
}
h1{
	font-size:40pt;
	line-height: 50px;
	margin-top:50px;
	margin-bottom: 10px;
}
h2{
	font-size:18pt;
	line-height: 30px;
	margin-bottom:20px;
}
#icons {
	padding-bottom: 10px;
}
.iconimage {
	width:50px;
	height:50px;
}
.section-wrap {
	width: 95%;
}
.section-wrap h3{
	font-size: 20px;
	margin-bottom: -5px;
}
.clips {
	font-size: 18px;
	font-family: 'Lato';
	line-height:23px;
}
#full {
	border: 3px solid #888a89;
	width: 100%;
}
.thumb {
	width: 50px;
	border:3px solid #888a89;
}
#thumb-nav {
	width: 95%;
	text-align: center;
}
#footer {
	width: 100%;
	padding-right: 20px;
	height: 30px;
	font-size:13pt;
}
}

/* ---- Smartphone screen media query 480 ---- */

@media only screen and (min-width: 321px) and (max-width: 480px) {
#wrap {
	max-width: 480px;
}
.navigation {
	height: 60px;
}
ul {
	margin-left: -10px;
}
li {
	font-size:18pt;
	padding: 0 10px 0 0;
}
h1{
	font-size:45pt;
	line-height: 70px;
	margin-top:60px;
	margin-bottom: -10px;
}
h2{
	font-size:21pt;
	line-height: 33px;
	margin-bottom:20px;
}
#icons {
	padding-bottom: 10px;
}
.iconimage {
	width:50px;
	height:50px;
}
.section-wrap {
	width: 95%;
}
.section-wrap h3{
	font-size: 20px;
	margin-bottom: -5px;
}
.clips {
	font-size: 18px;
	font-family: 'Lato';
	line-height:23px;
}
#full {
	border: 3px solid #888a89;
	width: 100%;
}
.thumb {
	width: 50px;
	border:3px solid #888a89;
}
#thumb-nav {
	width: 95%;
	text-align: center;
}
#footer {
	width: 100%;
	padding-right: 20px;
	height: 30px;
	font-size:13pt;
}
}

/* ---- Tablet screen media query 768 ---- */

@media only screen and (min-width: 481px) and (max-width: 768px) {
#wrap {
	max-width: 768px;
}
li {
	padding: 0 20px 0 0;
}
h1{
	margin-top:70px;
	margin-bottom: 20px;
}
h2{
	font-size:25pt;
	margin-bottom:30px;
}
#icons {
	padding-bottom: 20px;
}
.section-wrap {
	width: 90%;
}
.thumb {
	width: 70px;
}
#footer {
	width: 100%;
	padding-right: 20px;
}
}

/* ---- Tablet screen media query 1024 ---- */

@media only screen and (min-width: 769px) and (max-width: 1024px) {
#wrap {
	max-width: 1024px;
}
.section-wrap {
	width: 90%;
}
}
